/* signup.css */

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0d1117;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .card {
    border: 2px solid #646464;
    background-color: #151b23;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 0px;
    color: #ffffff;
    text-align: center;
  }
  
  h3 {
    font-size: 1rem;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 30px;
    color: #2986cc;
    text-align: center;
  }
  
  .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .username,
  .click-button {
    margin-bottom: 20px;
  }
  
  h5 {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #b3b3b3;
    text-align: left;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #646464;
    outline: none;
    background-color: #0d1117;
    color: #ffffff;
    font-size: 0.9rem;
  }
  
  input::placeholder {
    color: #666666;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #22b25f;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    color: #ffffff;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #1a954d;
  }
  
  a {
    text-decoration: none;
    color: #2986cc;
    font-size: 0.9rem;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .click-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .alternate-sign-in {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .alternate-sign-in h3 {
    font-size: 0.8rem;
    margin-right: 10px;
  }
  .profile .pic{
    height: 60px;
    width: 60px;
    background: white;
    border-radius: 50%;
  }
  .profile img {
    width: 100%; /* Ensures image fills the entire circle */
    height: 100%;
    border-radius: 50%;
    object-fit: cover; /* Ensures image is cropped to fit the circle */
  }
  .details{
    width: 95%;
  }
  .detail .password{
    width: 100%;
  }