.container {
  text-align: center;
  margin: 20px;
}

h1 {
  text-align: center;
}

.topics-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Five columns */
  grid-template-rows: repeat(3, 1fr); /* Three rows */
  grid-gap: 20px;
  column-gap: 30px;
}

.topic-button-class {
  text-align: left; /* Left-align the button text */
  display: flex; /* Allow for horizontal layout of text and image */
  justify-content: space-between; /* Align content on opposite ends */
  align-items: center; /* Vertically center the content */
  padding: 12px 10px;
  font-size: 12px;
  border: 1.5px solid transparent; /* Set the base border to transparent */
  border-radius: 3px; /* Ensure rounded corners */
  cursor: pointer;
  transition: all 0.3s;
  background-color: #0d1117;
  background-clip: padding-box; /* Ensures rounded corners with border-image */
  border-image: linear-gradient(to right, red, #6200ea) 1; /* Apply gradient border */
}

.topic-button-class:hover {
  background-color: #1a1d21; /* Slightly lighter background on hover */
  border-image: linear-gradient(to right, red, #6200ea) 1; /* Maintain gradient border */
}

.topic-button-class.selected {
  background-color: #6200ea; /* Selected button background color */
  color: #fff; /* Selected button text color */
  border-color: #6200ea; /* Solid border for selected tags */
  border-image: none; /* Disable gradient border when selected */
}

.check {
  width: 10px;
  height: 10px;
  margin-left: 5px; /* Adjust margin as needed */
}

.topic-button-class.selected {
  background-color: #6200ea; /* Selected button background color */
  color: #fff; /* Selected button text color */
  border-color: #6200ea;
}

@media (max-width: 768px) {
  .topic-button-class {
    flex-wrap: wrap; /* Allow text to wrap if needed on smaller screens */
  }
}

.actions {
  display: flex;
  padding: 20px;
  margin: 20px;
  justify-content:center;
  gap: 30px;
}

.skip-button {
    width: 20%;
    align-items: center;
  background-color: #0d1117;
  border: 1px solid white;
}
.skip-button:hover{
    background: #0d1117;
}
.next-button {
    width: 20%;
    align-items: center;
  color: #0d1117;
}

.next-button:disabled {
    background-color: #063403; /* Gray out the button when disabled */
    cursor: not-allowed; /* Change cursor to indicate disabled state */
  }